<div class ="container">
  <h1>Welcome, <%= current_user.full_name %>!</h1>
  <% if current_user.groups.length > 0 %>
    <p> Groups you are currently a part of! </p>
      <% current_user.groups.each do |group| %>
        <ul>
          <li><%= link_to group.name, group_path(group) %></li>
        </ul>
      <% end %>
   <% else %>
    <p>You don't have any groups yet.<br>Check out the link below and start requesting access now.</p>
   <% end %>
  <%= link_to "Find Some Groups", groups_path %><br>
</div>
