<div class ="container">
  <h1>Welcome, <%= current_user.full_name %>!</h1>

  <% if current_user.groups.length > 0 %>
    <p>Your Groups:</p>

    <% current_user.groups.each do |group| %>
      <ul>
        <li><span id="users_groups"> <%= link_to "#{group.name}", group_path(group) %></span></li>
        <ul>
        <span id="contribution-text">Your contributions to this group:</span>
        <% group.articles.each do |article| %>
          <% article.all_versions_by_author(current_user).each do |version| %>
            <li><span id="authored_version_link"><%= link_to "#{version.title}", version_path(version) %></span></li>
          <% end %>
        <% end %>
        </ul>
      </ul>
    <% end %>

 <% else %>
    <p>You have no groups! Check out the link below and start requesting access now.</p>
 <% end %>
  <%= link_to "See All Brumbiki Groups", groups_path %><br>
</div>
