<div class="container">
  <%= render template: 'versions/_version_show', locals: {version: @version }  %>
  <div class="group-link">
  <%= link_to "Back to Group", group_path(@version.article.group) %>
</div>
</div>
