#home-page-container {
  position:absolute;
  width: 70%;
  top: 35%;
  left: 35%;
}

#site-title {
  font-family: 'Raleway', sans-serif;
  font-size: 98px;
  width: 100%;
}

.index-buttons {
  margin-bottom: 2px;
  margin-left: 10px;
}
